* {
	margin: 0;
	padding: 0;
}

.CodeMirrorPackage {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #292929;
}
.CodeMirrorPackage .editor-resizer {
	position: relative;
	z-index: 2;
	width: 20px;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.4);
	background: #36383f;
	box-sizing: border-box;
	height: 100%;
	float: left;
}
.CodeMirrorPackage .col-resize {
	cursor: col-resize;
}
.CodeMirrorPackage .editor-title {
	height: 40px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	font-size: 16px;
	line-height: 40px;
	min-width: 300px;
}
.CodeMirrorPackage .editor-title .choose-mode{
	position: absolute;
    right: 5px;
	bottom: 5px;
	background: #36383f;
	border-radius: 2px;
	width: 32px;
	height: 25px;
	border: none;
}
.CodeMirrorPackage .editor-title .choose-mode:hover{
	background: #4e505a;
}
.CodeMirrorPackage .editor-title .choose-mode-ul{
	width: 220px;
	padding: 5px 0;
	border-radius: 3px;
	color: #222;
	line-height: 1.5;
    font-size: 15px;
	font-weight: 400;
	background: #fff;
	position: absolute;
	top: 40px;
	right: 5px;
	display: none;
	z-index: 999;
}
.CodeMirrorPackage .editor-title .choose-mode-li{
    color: black;
    display: block;
    width: 100%;
    text-align: left;
    border-radius: 0;
    padding: 7px 15px 8px;
    line-height: 1.1;
    font-size: 0.9rem;
	text-shadow: none;
	box-sizing: border-box;
	cursor: pointer;
}
.CodeMirrorPackage .editor-title .choose-mode-li:hover{
	background: #c7c7c769;
}
.CodeMirrorPackage .editor-title .current-mode{
    position: absolute;
    top: 0;
    padding: 2px 5px;
    color: #fff;
    background: #36383f;
    transform: translateX(-50%);
    left: 50%;
    font-size: 12px;
    height: 19px;
    line-height: 19px;
	border-radius: 0 0 5px 5px;
	box-shadow: 0px 0px 10px #fff;
}
.CodeMirrorPackage .displayArea-box {
	width: 25%;
	height: 100%;
	padding: 40px 0px;
	box-sizing: border-box;
	float: left;
	position: relative;
	overflow: hidden;
	transition: width 0.1s linear;
	/* Firefox 4 */
	-moz-transition:width 0.1s linear;
	/* Safari and Chrome */
	-webkit-transition:width 0.1s linear;
	/* Opera */
	-o-transition:width 0.1s linear;
}
.CodeMirrorPackage .displayArea-box .displayArea {
	width: 100%;
	height: 100%;
	background: #000;
	color: #fff;
    box-sizing: border-box;
	padding: 10px;
	min-width: 200px;
}
.CodeMirrorPackage .programming-practice-displayArea .displayArea,.CodeMirrorPackage .teacher-source-code .displayArea{
	padding: 0px;
}
.CodeMirrorPackage .programming-practice-displayArea .operation {
	position: absolute;
	width: 100%;
	bottom: 33px;
	min-width: 200px;
}
.CodeMirrorPackage .programming-practice-displayArea .operation button {
	position: absolute;
	padding: 5px;
	border: none;
	color: #fff;
}
.CodeMirrorPackage .programming-practice-displayArea .operation .reset-btn {
	left: 0;
	background: #ff6600;
}
.CodeMirrorPackage .programming-practice-displayArea .operation .run-btn {
	right: 0;
	background: #ff0000;
}
.CodeMirrorPackage .programming-practice-displayArea .operation .source-code-btn {
	right: 100px;
	background: #666666;
}
.CodeMirrorPackage .programming-practice-displayArea .operation .carry-on {
	right: 100px;
	background: #3399FF;
}

